<?xml version="1.0"?>
<launch>
    <arg name="map_file" default="/home/jetson/maps/mymap.yaml"/>
    <arg name="initial_x" default="0.0"/>
    <arg name="initial_y" default="0.0"/>
    <arg name="initial_yaw" default="0.0"/>

    <include file="$(find ris)/launch/includes/map_server.launch.xml">
        <arg name="map_file" value="$(arg map_file)"/>
    </include>

    <include file="$(find ris)/launch/includes/amcl.launch.xml"/>

    <include file="$(find ris)/launch/includes/initial_pose.launch.xml">
        <arg name="initial_x" value="$(arg initial_x)"/>
        <arg name="initial_y" value="$(arg initial_y)"/>
        <arg name="initial_yaw" value="$(arg initial_yaw)"/>
        <arg name="delay_sec" value="15.0"/>
        <arg name="repeat_count" value="30"/>
    </include>

    <node pkg="ris" type="pose_recorder" name="pose_recorder" output="screen">
        <param name="target_frame" value="map"/>
        <param name="source_frame" value="base_footprint"/>
        <param name="rate_hz" value="2.0"/>
        <param name="csv_path" value="/tmp/pose_recorder_map_base.csv"/>
    </node>
</launch>