<?xml version="1.0"?>
<launch>
    <arg name="map_file" default="/home/jetson/maps/mymap.yaml"/>
    <arg name="initial_x" default="0.0"/>
    <arg name="initial_y" default="0.0"/>
    <arg name="initial_yaw" default="0.0"/>

    <!-- map -->
    <node pkg="map_server"
          type="map_server"
          name="map_server"
          args="$(arg map_file)"
          output="screen"/>

    <!-- amcl -->
    <node pkg="amcl" type="amcl" name="amcl" output="screen" clear_params="true">
        <remap from="scan" to="/scan"/>
        <rosparam command="load" file="$(find ris)/config/amcl_params.yaml"/>
    </node>

    <!-- initial pose -->
    <node pkg="ris" type="initial_pose_sender" name="initial_pose_sender" output="screen">
        <param name="x" value="$(arg initial_x)"/>
        <param name="y" value="$(arg initial_y)"/>
        <param name="yaw" value="$(arg initial_yaw)"/>
        <param name="delay_sec" value="8.0"/>
        <param name="repeat_count" value="20"/>
        <param name="frame_id" value="map"/>
    </node>

    <!-- move_base with copied Ackermann configs -->
    <node pkg="move_base" type="move_base" name="move_base" output="screen" clear_params="true">

        <!-- force planners -->
        <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>

        <!-- common -->
        <rosparam command="load" file="$(find ris)/config/jetracer_ackman/costmap_common_params.yaml" ns="global_costmap"/>
        <rosparam command="load" file="$(find ris)/config/jetracer_ackman/costmap_common_params.yaml" ns="local_costmap"/>

        <!-- costmaps -->
        <rosparam command="load" file="$(find ris)/config/jetracer_ackman/global_costmap_params.yaml"/>
        <rosparam command="load" file="$(find ris)/config/jetracer_ackman/local_costmap_params.yaml"/>

        <!-- planner/controller -->
        <rosparam command="load" file="$(find ris)/config/jetracer_ackman/move_base_params.yaml"/>
        <rosparam command="load" file="$(find ris)/config/jetracer_ackman/teb_local_planner_params.yaml"/>

    </node>

    <node pkg="ris" type="nav_status_monitor" name="nav_status_monitor" output="screen"/>
</launch>