<?xml version="1.0"?>
<launch>
    <arg name="map_file" default="/home/jetson/maps/mymap.yaml"/>
    <arg name="initial_x" default="0.0"/>
    <arg name="initial_y" default="0.0"/>
    <arg name="initial_yaw" default="0.0"/>
    <arg name="global_planner_config" default="$(find ris)/config/navigation/global_planner_navfn.yaml"/>

    <include file="$(find ris)/launch/includes/map_server.launch.xml">
        <arg name="map_file" value="$(arg map_file)"/>
    </include>

    <include file="$(find ris)/launch/includes/amcl.launch.xml"/>

    <include file="$(find ris)/launch/includes/initial_pose.launch.xml">
        <arg name="initial_x" value="$(arg initial_x)"/>
        <arg name="initial_y" value="$(arg initial_y)"/>
        <arg name="initial_yaw" value="$(arg initial_yaw)"/>
    </include>

    <include file="$(find ris)/launch/includes/move_base.launch.xml">
        <arg name="global_planner_config" value="$(arg global_planner_config)"/>
    </include>

    <node pkg="ris" type="nav_status_monitor" name="nav_status_monitor" output="screen"/>
</launch>