<?xml version="1.0"?>
<launch>
    <arg name="map_file" default="/home/jetson/catkin_ws/src/Ais4103-Jetracer-ROS-AI-KIT/src/ris/map/mymap.yaml"/>
    <arg name="initial_x" default="0.0"/>
    <arg name="initial_y" default="0.0"/>
    <arg name="initial_yaw" default="0.0"/>
    <arg name="send_initial_pose" default="true"/>
    <param name="use_sim_time" value="false"/>

    <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_camera"
          args="0.190 0.0 0.111 0.0 0.0 0.0 base_footprint csi_cam_0_link 20" />
    <node name="map_server"
          pkg="map_server"
          type="map_server"
          args="$(arg map_file)"
          output="screen" />

    <node pkg="amcl" type="amcl" name="amcl" output="screen" clear_params="true">
        <rosparam file="$(find ris)/config/navigation/amcl.yaml" command="load"/>
        <remap from="scan" to="/scan"/>
    </node>

    <node pkg="move_base" type="move_base" name="move_base" output="screen" clear_params="true">
        <rosparam file="$(find ris)/config/navigation/costmap_common.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find ris)/config/navigation/costmap_common.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find ris)/config/navigation/global_costmap.yaml" command="load"/>
        <rosparam file="$(find ris)/config/navigation/local_costmap.yaml" command="load"/>
        <rosparam file="$(find ris)/config/navigation/move_base.yaml" command="load"/>
        <rosparam file="$(find ris)/config/navigation/teb_local_planner.yaml" command="load"/>
    </node>

    <node if="$(arg send_initial_pose)"
          pkg="ris"
          type="initial_pose_sender"
          name="initial_pose_sender"
          output="screen">
        <param name="x" value="$(arg initial_x)"/>
        <param name="y" value="$(arg initial_y)"/>
        <param name="yaw" value="$(arg initial_yaw)"/>
        <param name="delay_sec" value="2.0"/>
    </node>
</launch>