<?xml version="1.0"?>
<launch>
    <node name="aruco_processor" pkg="ris" type="aruco_processor.py" output="screen">
        <param name="camera_name" value="/csi_cam_0" />
        <param name="marker_size" value="0.0345" />
        <param name="enable_mapping" value="true" />
        <param name="enable_localization" value="false" />
        <param name="process_every_n_frames" value="2" />
    </node>

    <node name="waypoint_saver" pkg="ris" type="waypoint_saver.py" output="screen" />

    <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_camera"
          args="0.185 0.0 0.111 0.0 0.0 0.0 base_footprint csi_cam_0_link 20" />
</launch>
